<div class="modal fade" id="myDetailsModal-{{tmdbId}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-md-6 mb-3 mb-md-0">
                            <img src="{{picture}}" alt="Picture here">
                        </div>
                        <div class="col col-md-6 mb-3 mb-md-0">
                            <h1>{{title}}</h1>
                            <p>{{plot}}</p>
                            <p>{{releaseYear}}</p>
                            {{#each genres}}
                            <p>{{name}}</p>
                            {{/each}}
                            <button class="btn btn-primary btn-block btn-modal" onclick="window.location='/movie/{{id}}/delete'">Delete</button>
                            <button class="btn btn-primary btn-block btn-modal" onclick="window.open('https://www.themoviedb.org/movie/{{tmdbId}}' , '_blank')">Look
                                for details<br> on the TheMovieDB</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>