<div class="modal fade" id="myDetailsModal-{{tmdbId}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>{{title}}</h1>
                <img src="{{image}}" alt="Picture here">
                <p>{{plot}}</p>
                <p>{{releaseYear}}</p>
                {{#each genres}}
                <p>{{name}}</p>
                {{/each}} {{id}} {{!-- put in other list --}}
                <button onclick="window.location='/movies/{{dbId}}/delete'">Delete</button>
                <button onclick="window.open('https://www.themoviedb.org/movie/{{tmdbid}}' , '_blank')">Look for
                    details on the website</button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>