<div class="liked-movies">
    <div class="card col 4" style="width: 33.333%;">
        <div class="list">
            <p>{{title}}</p>
            <img src="{{picture}}" alt="{{title}} picture"><br>
            <a onclick="window.location='/movies/{{id}}'">Details</a>
            <a onclick="window.location='/movies/{{id}}/delete'">Delete</a>
            <form action="/movies/{{id}}/edit" method="get">
                <select name="category">
                    <option value="like">Like List</option>
                    <option value="hate">Hate List</option>
                    <option value="watched">Watched List</option>
                </select>
                <button type="">Change</button>
            </form>
        </div>
    </div>
</div>