<div class="card border-primary" style="width: 18rem;" id="movieCard">
    <img class="card-img top" src="{{picture}}" alt="{{title}} picture">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="card-body">
        <a onclick="window.location='/movies/{{id}}'" class="card-link">Details</a>
        <a onclick="window.location='/movie/{{id}}/delete'" class="card-link">Delete</a>
    </div>
    <form action="/movies/{{id}}/edit" method="get">
        <select name="category">
            <option value="like">Like List</option>
            <option value="hate">Hate List</option>
            <option value="watched">Watched List</option>
        </select>
        <button type="submit">Change</button>
    </form>
</div>