<div class="card-body" id="liked-movies">
    <div class="card-block col 4" style="width: 33.333%;">
        <div class="list">
            <h4 class="card-title">{{title}}</h4> {{id}}
            <img class="card-img img-fluid mb-1" src="{{picture}}" alt="{{title}} picture"><br>
            <a onclick="window.location='/movies/{{id}}'">Details</a>
            <a onclick="window.location='/movie/{{id}}/delete'">Delete</a>
            <form action="/movies/{{id}}/edit" method="get">
                <select name="category">
                    <option value="like">Like List</option>
                    <option value="hate">Hate List</option>
                    <option value="watched">Watched List</option>
                </select>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
</div>