<div class="modal fade" id="mySearchDetailsModal-{{tmdbId}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>{{original_title}}</h1>
                <img src="http://image.tmdb.org/t/p/w154/{{poster_path}}" alt="Picture here">
                <p>{{overview}}</p>
                <p>{{vote_average}}</p>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>