<!-- Projects Section -->
<section id="projects">
  <div class="container">

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-md-5 mb-3 mb-md-0">
        <img class="img-fluid" src="{{image}}" id="picture"> </div>
      <div class="col-md-5 mb-3 mb-md-0">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{title}}</h4>
              <h5 class="text-white">{{releaseYear}}</h5>
              <h5 class="text-white">Average Voting: {{rating}}</h5>
              <p class="mb-0 text-white-50">{{plot}}</p>
              <hr class="d-none d-lg-block mb-0 ml-0">

              <div class="container">
                <div class="row">
                  <div class="col-4">
                    <form action="/movie-suggestion/like" method="POST">
                      <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
                      <input type="hidden" name="title" value="{{title}}">
                      <input type="hidden" name="picture" value="{{image}}"> {{!-- <input type="hidden" name="category" value="like">                      --}}
                      <input type="hidden" name="genre" value="{{genre}}">
                      <button class="btn btn-primary mx-auto">Like it</button>
                    </form>
                  </div>
                  <div class="col-4">
                    <form action="/movie-suggestion/hate" method="POST">
                      <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
                      <input type="hidden" name="title" value="{{title}}">
                      <input type="hidden" name="picture" value="{{image}}"> {{!-- <input type="hidden" name="category" value="hate">                      --}}
                      <input type="hidden" name="genre" value="{{genre}}">
                      <button class="btn btn-primary mx-auto">Hate it</button>
                    </form>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-4 ">
                    <form action="/movie-suggestion/watched" method="POST">
                      <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
                      <input type="hidden" name="title" value="{{title}}">
                      <input type="hidden" name="picture" value="{{image}}"> {{!-- <input type="hidden" name="category" value="done">                      --}}
                      <input type="hidden" name="genre" value="{{genre}}">
                      <button class="btn btn-primary mx-auto">Already seen!</button>
                    </form>
                  </div>
                  <div class="col-4">
                    {{#if myCategory}}
                    <form action="/movie-suggestion/{{myCategory}}" method="GET">
                      {{else}}
                      <form action="/movie-suggestion/" method="GET">
                        {{/if}}
                        <input type="hidden" name="genre" value="{{genre}}">
                        <button class="btn btn-primary mx-auto">Try again</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>