<div class="container" id="mov-sugg-div">
  <div class="row">
    <div class="col-md-6 mb-3 mb-md-0 text-center">
      <img class="img-fluid" src="{{image}}" id="picture">
    </div>
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="card py-2 h-100">
        <div class="card-body">
          <div class="row">
            <div class="col-6 my-1">
              <form action="/movie-suggestion/like" method="POST">
                <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
                <input type="hidden" name="title" value="{{title}}">
                <input type="hidden" name="picture" value="{{image}}"> {{!-- <input type="hidden" name="category" value="like">                --}}
                <input type="hidden" name="genre" value="{{genre}}">
                <button class="btn btn-primary btn-block">Like it</button>
              </form>
            </div>
            <div class="col-6 my-1">
              <form action="/movie-suggestion/hate" method="POST">
                <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
                <input type="hidden" name="title" value="{{title}}">
                <input type="hidden" name="picture" value="{{image}}"> {{!-- <input type="hidden" name="category" value="like">                --}}
                <input type="hidden" name="genre" value="{{genre}}">
                <button class="btn btn-primary btn-block">Hate it</button>
              </form>
            </div>
            <div class="col-6 my-1">
              <form action="/movie-suggestion/watched" method="POST">
                <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
                <input type="hidden" name="title" value="{{title}}">
                <input type="hidden" name="picture" value="{{image}}"> {{!-- <input type="hidden" name="category" value="like">                --}}
                <input type="hidden" name="genre" value="{{genre}}">
                <button class="btn btn-primary btn-block">Already seen!</button>
              </form>
            </div>
            <div class="col-6 my-1">
              <a class="btn btn-primary btn-block" href="">Try again</a>
            </div>
          </div>
          <div class="movie-description">
            <h4 class="text-uppercase">{{title}}</h4>
            <div class="year-rating">
              <h5>{{releaseYear}}</h5>
              </h5>Average Voting: {{rating}}
              </h5>
            </div>
            <p class="mb-0">{{plot}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>