<h1>Our Movie Recommendation</h1>
<h2>{{title}}</h2>
<div>
  <img src="{{image}}" id="picture">
  <h5>{{releaseYear}}</h5>
  <h5>{{rating}}</h5>
  <p>{{plot}}</p>
</div>

<form action="/movie-suggestion/like" method="POST">
  <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
  <input type="hidden" name="title" value="{{title}}">
  <input type="hidden" name="picture" value="{{image}}">
  <input type="hidden" name="category" value="like">
  <button>Like it</button>
</form>
<form action="/movie-suggestion/hate" method="POST">
  <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
  <input type="hidden" name="title" value="{{title}}">
  <input type="hidden" name="picture" value="{{poster_path}}">
  <input type="hidden" name="category" value="hate">
  <button>Hate it</button>
</form>
<form action="/movie-suggestion/done" method="POST">
  <input type="hidden" name="tmdbId" value="{{id}}"> {{!-- TO MODIFY when we have the data --}}
  <input type="hidden" name="title" value="{{title}}">
  <input type="hidden" name="picture" value="{{poster_path}}">
  <input type="hidden" name="category" value="done">
  <button>Been there done that</button>
</form>
<form action="/movie-suggestion" method="GET">
  <button>Try again</button>
</form>
</div>