<h1>User profile page</h1>
<div>
  <h3>Liked movies</h3>
  {{#each liked}}
  <p>{{this.title}}</p>
  <img src="{{this.picture}}" alt="{{this.title}} picture"><br>
  <a onclick="window.location='/movies/{{this.id}}'">Details</a>
  {{!-- put in other list --}}
  <a onclick="window.location='movies/{{this.id}}/delete'">Delete</a>{{/each}}
</div>
<div>
  <h3>Hated movies</h3>
  {{#each hated}}
  <p>{{this.title}}</p>
  <img src="{{this.picture}}" alt="{{this.title}} picture">
  <a onclick="window.location='/movies/{{this.id}}'">Details</a> {{/each}}
</div>
<div>
  <h3>Been there done that</h3>
  {{#each watched}}
  <p>{{this.title}}</p>
  <img src="{{this.picture}}" alt="{{this.title}} picture">
  <a onclick="window.location='/movies/{{this.id}}'">Details</a> {{/each}}
</div>